{% extends 'admin/login.html' %}
{% block branding %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"> 
  <body class=" login" data-admin-utc-offset="0" data-new-gr-c-s-check-loaded="8.867.0" style="background-color: #393e46; font-family: 'Poppins', sans-serif; background-image: url('https://i.pinimg.com/originals/10/52/ce/1052cedc818d44eb7d6084aebc9cd85d.jpg');background-size: cover; background-repeat: no-repeat; padding-left: 250px;padding-right: 250px;padding-top: 40px;">
    <a href="/" style="color: rgb(255, 255, 255);font-size: 26px;font-style: normal;font-weight: bold;font-family: Montserrat, sans-serif;text-align: center; text-decoration: none;">GEAR UP</a>
      <fieldset>
        <legend>
          <p style="font-size: 16px;padding: 0px;font-weight: bold;font-family: Montserrat, sans-serif;">Administration<br></p>
        </legend>
      </fieldset>
  </body>
{% endblock branding %}