{%load static%}
{% include 'importcss.html'%}
<div class="footer-basic" style="height: 180px;">
<footer style="height: 271px;"><button class="btn btn-primary reserve-button" type="button">Contact Us for Query</button>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Gear Up© 2020&nbsp;</a></li>
        <li class="list-inline-item" style="width: 50px;"><a href="#">Contact </a></li>
        <li class="list-inline-item"><a href="#" style="width: 0px;">About Us</a></li>
    </ul>
</footer>
</div>