{%load static%}
<link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" />
<link rel="stylesheet" href="{% static '/fonts/ionicons.min.css' %}" />
<link rel="stylesheet" href="{% static '/css/Footer-Basic.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css" />
<link rel="stylesheet"
	href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css" />
<link rel="stylesheet" href="{% static '/css/styles.css' %}" />