{%load static%}
<!DOCTYPE html>
<head>
    <title>Gear Up</title>
    {% include 'importcss.html' %}
<body>
    <nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1" style="padding-left: 0;padding-right: 30px;">
            <a href="{% url 'index' %}" style="color: rgb(255, 255, 255);font-size: 26px;font-style: normal;font-weight: bold;font-family: Montserrat, sans-serif;text-align: center; text-decoration: none;">GEAR UP</a>
            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
            </ul>
            <ul class="nav navbar-nav navbar">
                <li class="nav-item"><a style="color: white; padding: 10px;" href="{% url 'car-products' %}">Cars</a></li>
                <li class="nav-item"><a style="color: white; padding: 10px;" href="#">Accessories</a></li>
                <li class="nav-item"><a style="color: white; padding: 10px;" href="#">Sign Up</a></li>
                <li class="nav-item"><a style="color: white; padding: 10px;" href="{% url 'login' %}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
